/* start of header  */
.main_container {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}

header {
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 240px;
    background-color: rgba(213, 144, 110, 0.52);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 31%;
}

ul {
    display: flex;
    gap: 60px;
}

.nav_link {
    font-family: 'Inter';
    color: white;
    font-size: 18px;
    transition: all;
    transition: .5s;
}

.nav_link:hover {
    cursor: pointer;
    color: rgb(102, 255, 102);
}

.logo {
    box-shadow: none;
    transition: all;
    transition: .5s;
}

.logo:hover {
    filter: drop-shadow(1px 1px 10px rgb(3, 12, 6))
}

.sign_in_cart {
    width: 10%;
    display: flex;
    gap: 10px;
}

.sign_in {
    font-family: 'Inter';
    color: white;
    font-size: 18px;
    transition: all;
    transition: .5s;
}

.sign_in:hover {
    cursor: pointer;
    color: rgb(102, 255, 102);
}

.cart {
    font-size: 18px;
    color: white;
    transition: all;
    transition: .5s;
}

.cart:hover {
    cursor: pointer;
    color: rgb(102, 255, 102);
}

/* end of header  */

/* start of section 1  */
.banner_container {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 283px 0 188px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    width: 40%;
    font-family: 'Inter';
    font-size: 48px;
    color: white;
    text-align: center;
}

h3 {
    width: 45%;
    font-family: 'Inter';
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    margin: 16px 0 85px;
}

button {
    font-family: 'Inter';
    color: white;
    width: 311px;
    height: 56px;
    background: none;
    border: 2px solid #D5906E;
    border-radius: 10px;
    transition: all;
    transition: .5s;
}

button:hover {
    background: #D5906E;
    cursor: pointer;
}

/* end of section 1  */

/* start of mini section 1 */
.mini_container {
    width: 80%;
    height: 206px;
    margin: 160px auto;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.mini_slide_images {
    width: 100%;
}

figcaption {
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B53B1B;
    text-align: center;
}

/* end of mini section 1 */

/* start of grid  */
.section_2 {
    height: 922px;
    background-color: #402101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.grid {
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 60px 2fr 60px 3fr;
    grid-template-rows: 322px 60px 260px;
    grid-template-areas:
        "img1 img1 img1 . img2"
        ". . . . ."
        "img3 . img4 . img5";
}

.grid_images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid_1_img {
    grid-area: img1;
}

.grid_2_img {
    grid-area: img2;
}

.grid_3_img {
    grid-area: img3;
}

.grid_4_img {
    grid-area: img4;
}

.grid_5_img {
    grid-area: img5;
}

/* end of grid */

/* start of mini section 2 */
h6 {
    margin: 160px 0 40px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #402101;
}

.mini_slide_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.mini_slide {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


.mini_slide_items {
    width: 25%;
    display: flex;
    position: relative;
}

.products {
    width: 100%;
}

.item_price {
    position: absolute;
    text-align: center;
    width: 88px;
    height: 48px;
    padding: 15px 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B53B1B;
    background-color: #fffefd;
    border: 1px solid white;
    border-radius: 20px;
    top: 75%;
    left: 5%;
    transform: translate(75% 5%);
}

/* end of mini section 2 */

/* start of section 2 */
.banner_container_2 {
    margin-top: 160px;
    background-image: url(../images/banner_2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail_subscribe {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.mail {
    display: flex;
    justify-content: space-between;
}

.mail_input {
    width: 320px;
    height: 56px;
    padding: 18px 19px;
    border: 1px solid white;
    border-radius: 10px 0 0 10px;
    background: none;
}

.subscribe {
    height: 56px;
    padding: 17px 27px;
    border: none;
    border-radius: 0 10px 10px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #402101;
}

::placeholder {
    color: #FFFFFF;
    font-size: 16px;
}