/* start of header  */
.main_container {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}

header {
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 240px;
    background-color: rgba(213, 144, 110, 0.52);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: change;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes change {
    0% {
        background-color: none;
    }

    100% {
        background-color: #402101;
    }
}

.burger_menu {
    display: none;
}

nav {
    width: 31%;
}

ul {
    display: flex;
    gap: 60px;
}

.nav_link {
    font-family: 'Inter';
    color: white;
    font-size: 18px;
    transition: all;
    transition: .5s;
}

.nav_link:hover {
    cursor: pointer;
    color: rgb(102, 255, 102);
    filter: drop-shadow(1px 1px 5px rgb(3, 12, 6));
}

.logo {
    box-shadow: none;
    transition: all;
    transition: .5s;
}

.mini_logo {
    display: none;
}

.logo:hover {
    filter: drop-shadow(1px 1px 20px #22b553);

    transform: scale(1.2)
}

.sign_in_cart {
    width: 18%;
    display: flex;
    gap: 10px;
}

.sign_in {
    font-family: 'Inter';
    color: white;
    font-size: 18px;
    transition: all;
    transition: .5s;
}

.sign_in:hover {
    cursor: pointer;
    color: rgb(102, 255, 102);
    filter: drop-shadow(1px 1px 5px rgb(12, 3, 3));
}

.cart {
    font-size: 18px;
    color: white;
    transition: all;
    transition: .5s;
}

.cart:hover {
    cursor: pointer;
    color: rgb(102, 255, 102);
}

/* end of header  */

/* page 1 */
/* start of section 1  */
.banner_container {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 283px 0 188px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_title {
    width: 40%;
    font-family: 'Inter';
    font-size: 48px;
    color: white;
    text-align: center;
    animation-name: colorchange;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes colorchange {
    0% {
        opacity: 0;
        color: #FFFFFF;
        filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
        filter: drop-shadow(-10px -10px -5px rgb(255, 0, 0));
    }

    50% {
        opacity: .5;
        color: #22b553;
        filter: drop-shadow(20px 20px 5px rgb(12, 3, 3));
        transform: scaleX(1.1);
    }

    100% {
        opacity: 1;
        color: antiquewhite;
        filter: drop-shadow(2px 2px 5px rgb(12, 1, 1));
        filter: drop-shadow(1px 1px 5px rgb(255, 0, 0));
    }
}

.banner_text {
    width: 45%;
    font-family: 'Inter';
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    margin: 16px 0 85px;
    transition: all;
    transition-duration: 1s;
}

.banner_text:hover {
    transform: scale(1.1);
    color: #ecc2ad;
    text-shadow: 1px 1px black;

}

.shop_now_button {
    font-family: 'Inter';
    color: white;
    width: 311px;
    height: 56px;
    background: none;
    border: 2px solid #D5906E;
    border-radius: 10px;
    transition: all;
    transition: .5s;
}

.shop_now_button:hover {
    color: black;
    background: #D5906E;
    cursor: pointer;
    filter: drop-shadow(1px 1px 20px rgb(34, 181, 83));
}

/* end of section 1  */

/* start of mini section 1 */
.mini_container {
    width: 80%;
    height: 206px;
    margin: 160px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.mini_slide_images {
    width: 100%;
    transition: all;
    transition-duration: .5s;
}

.mini_slide_images:hover {
    scale: 1.1;
    filter: grayscale(100);
}


figcaption {
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B53B1B;
    text-align: center;
}

/* end of mini section 1 */

/* start of grid  */
.section_2 {
    height: 922px;
    background-color: #402101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.our_gallery {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.grid {
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 60px 2fr 60px 3fr;
    grid-template-rows: 322px 60px 260px;
    grid-template-areas:
        "img1 img1 img1 . img2"
        ". . . . ."
        "img3 . img4 . img5";
}

.grid_images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all;
    transition-duration: 1s;
}

.grid_images:hover {
    filter: grayscale(100);
    filter: drop-shadow(1px 1px 20px rgb(34, 181, 83));
}

.grid_1_img {
    grid-area: img1;
}

.grid_2_img {
    grid-area: img2;
}

.grid_3_img {
    grid-area: img3;
}

.grid_4_img {
    grid-area: img4;
}

.grid_5_img {
    grid-area: img5;
}

/* end of grid */

/* start of mini section 2 */
.latest_products {
    margin: 160px 0 40px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #402101;
}

.mini_slide_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.mini_slide {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


.mini_slide_items {
    width: 25%;
    display: flex;
    position: relative;
}

.products {
    width: 100%;
}

.item_price {
    position: absolute;
    text-align: center;
    width: 88px;
    height: 48px;
    padding: 15px 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B53B1B;
    background-color: #fffefd;
    border: 1px solid white;
    border-radius: 20px;
    top: 70%;
    left: 10%;
    transform: translate(70% 10%);
}

/* end of mini section 2 */

/* start of section 2 */
.banner_container_2 {
    padding: 140px;
    margin-top: 160px;
    background-image: url(../images/banner_2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

}

.mail_subscribe {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.mail {
    display: flex;
    justify-content: space-between;
}

.mail_input {
    width: 320px;
    height: 56px;
    padding: 18px 19px;
    border: 1px solid white;
    border-radius: 10px 0 0 10px;
    background: none;
}

.subscribe {
    height: 56px;
    padding: 17px 27px;
    border: none;
    border-radius: 0 10px 10px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #402101;
}

::placeholder {
    color: #FFFFFF;
    font-size: 16px;
}

/* end of banner container 2 */

/* start of article  */
.article {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
}

.article_head_title {
    margin-top: 160px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #402101;
}

.text_divs {
    width: 30%;
    background-color: rgba(213, 144, 110, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: all;
    transition-duration: 1s;
}

.text_divs:hover {
    scale: 1.05;
    background-color: rgba(251, 255, 121, 0.3);
}

.text_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #B53B1B;
}

.in_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #402101;
}

.help {
    border: 2px solid red;
    margin-top: 112px;
    margin-inline: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.help_text {
    margin-top: 112px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #402101;
}

.buttion_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.help_button {
    margin-top: 20px;
    width: 309px;
    height: 56px;
    background: #B53B1B;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 24px;
    color: #FFFFFF;
    transition: all;
    transition-duration: .5s;
}

.help_button:hover {
    color: black;
    background: #D5906E;
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px rgb(127, 0, 0));
}

/* end of article  */

/* start of footer  */
footer {
    margin-top: 160px;
    padding: 32px 300px;
    width: 100%;
    background-color: #402101;
    display: flex;
    justify-content: space-between;
}

.footer_divs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact {
    display: flex;
    gap: 25px;
}

.hele {
    margin-bottom: 16px;
    font-family: 'Rubik';
    font-size: 18px;
    color: #FFFFFF;
}

.hele_text {
    font-family: 'Rubik';
    font-size: 16px;
    color: #FFFFFF;
    transition: all;
    transition-duration: .5s;
}

.hele_text:hover {
    cursor: pointer;
    font-size: 16px;
    color: #88ff00;
}

.social {
    margin-top: 43px;
    display: flex;
    gap: 29px;
}

.soc {
    transition: all;
    transition-duration: .5s;
}

.soc:hover {
    cursor: pointer;
    rotate: 360deg;
    scale: 1.3;
}

/* .tel::before {
    content: "\f601";
    font-family: "Font Awesame 6 Free";
    color: #fffefd;
} */

.icon {
    font-size: 16px;
    color: #FFFFFF;
}

.ico {
    display: flex;
    gap: 16px;
    font-family: 'Rubik';
    font-size: 16px;
    color: #FFFFFF;
    transition: all;
    transition-duration: .5s;
}

.ico:hover {
    cursor: pointer;
    font-size: 16px;
    color: #88ff00;
}
/* end of footer  */


/* page 2 */
/* start of banner container page 2 */
.banner_container_page_2 {
    background-image: url(../images/page_2_banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.banner_title_page_2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
/* start of banner container page 2 */

/* start of search and produccts */

.full_search {
    margin-inline: auto;
    margin-top: 160px;
    width: 55%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_bar {
    display: flex;
    justify-content: space-between;
}

.search_title {
    font-size: 18px;
    color: #402101;
}

.search_input {
    width: 400px;
    height: 56px;
    border-radius: 10px 0 0 10px;
}

::placeholder {
    font-family: 'Inter';
    font-size: 16px;
    color: rgba(64, 33, 1, 0.52);
}

.search_button {
    width: 251px;
    height: 56px;
    background-color: #402101;
    border-radius: 0 10px 10px 0;
    border: none;
    font-family: 'Inter';
    font-size: 18px;
    color: #FFFFFF;
}

/* end of search  */

/* start product cards  */
.products_category_title {
    margin-inline: auto;
    margin-top: 78px;
    margin-bottom: 90px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.all_category {
    font-family: 'Inter';
    font-size: 48px;
    color: #402101;
}

.products {
    margin-inline: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.card {
    background-color: #fffefd;
    border-radius: 5px;
}

.price_div {
    display: flex;
    justify-content: space-between;
}

.product_name {
    margin: 24px 0 28px 0;
    font-family: 'Inter';
    font-size: 16px;
    color: #B53B1B;
}

.price {
    font-family: 'Inter';
    font-size: 24px;
    color: #402101;
}


/* page 3 */

.banner_container_page_3 {
    background-image: url(../images/page_3_banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    display: flex;
    align-items: center;
}

.feedback {
    padding: 30px;
    margin-left: 160px;
    margin-top: 105px;
    width: 35%;
    background: rgba(64, 33, 1, 0.73);
    border: 1px solid #FFFFFF;
    box-shadow: -1px -1px 4px #FFFFFF;
    border-radius: 10px;
}

.effect {
    background: rgba(64, 33, 1, 0.73);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    height: 40px;
}

.feedback_title {
    font-family: 'Inter';
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.feedback_inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.name,
.feedback_mail {
    width: 45%;
}

.message {
    width: 100%;
    height: 96px;
}

::placeholder {
    margin-top: 0;
    padding: 10px;
    font-family: 'Inter';
    font-size: 14px;
    color: rgba(255, 255, 255, 0.76);
}

.submit_btn {
    width: 147px;
    height: 56px;
    border: none;
    background: #D5906E;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 16px;
    color: #FFFFFF;
}

.full_contact_div {
    margin-top: 160px;
    margin-inline: auto;
    width: 80%;
    height: 408px;
    background-color: #D5906E4D;

}

.contact_head_text {
    font-family: 'Inter';
    font-size: 40px;
    line-height: 48px;
    color: #402101;
    margin-bottom: 40px;
    text-align: center;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.email {
    margin: 32px 0 32px 0;
}

.full_contact {
    display: flex;
    justify-content: space-between;

}

.maps {
    width: 815px;
    height: 320px;
}

.title_contacts {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    color: #B53B1B;
}

.con_text {
    font-family: 'Inter';
    font-size: 16px;
    color: #623932;
}